//- base.pug
html
  head
    title Evoo - Fun events 
    link(rel="stylesheet", href="css/main.css")
  body
    //- include header.pug
    block content
    block foot
      #footer
        p some footer content