extend base
block content
    include header
    .change-password-container
        .form-container
            h3 Change password
            if message.length > 0
                p.alert-message #{message}
            form(action="/change-password" method="post")
                input( type="password" name="currentpass" placeholder="Input current password" id="login-username" required )
                input( type="password" name="newpass" placeholder="Input new password" id="login-username" required)
                input( type="submit" class="btn primary-color" value="Change password" )  
