extend base
block content
    include header

    div.create-event
        .form-container
            h3 Create new event
            if message.length > 0 
                p.alert-message #{message}
            form(action="/create-event" method="post" enctype="multipart/form-data")
                input( type="text" name="title" placeholder="Event's title" id="login-username" )
                input( type="text" name="address" placeholder="Address" id="login-username")
                input( type="text" name="event_date" placeholder="Event_date" id="login-username")
                input( type="text" name="location" placeholder="Location" id="login-username")
                input(type="file" name="event")
                label(for="story") Describe you event:
                textarea(id="story" name="description" rows="5" cols="33")
                input( type="submit" class="btn primary-color" value="Create" )  