extend base
block content
  include header
  .dashboard-content
    .dashboard-users
      ul.dashboard-list
    .dashboard-event
      ul.dashboard-event-list
    .dashoard-comments
      ul.dashboard-comments
    script(src="/js/dashboard.js")