extend base
block content
    include header


    div.profile-edit
        .form-container
            h3 Edit Profile
            form(action="#")
                input( type="text" name="firstname" placeholder="Firstname" id="login-username" required )
                input( type="text" name="lastname" placeholder="Lastname" id="login-username" required)
                input( type="text" name="age" placeholder="Age" id="login-username" required)
                input( type="text" name="lastname" placeholder="Lastname" id="login-username" required)
                input( type="text" name="country" placeholder="Country" id="login-username" required)
                input( type="text" name="city" placeholder="City" id="login-username" required)
                input( type="text" name="bio" placeholder="Lastname" id="login-username" required)
                label(for="story") Tell us your story:
                textarea(id="story" name="story" rows="5" cols="33")
                input( type="submit" name="submit-btn" class="btn primary-color" value="Join" )  

