header(class='header')
  div(class='header-container')
    span(class='header-logo') evoo
    ul(class='header-auth-btns')
      li
        img(class='avatar-img rounded' src=user.photo_url_thumb, alt=user.username)
      li 
        span(class='header-username') #{user.firstname} #{user.lastname}
      li
        a(href='./logout' class='header-auth-btn btn--green') Logout

