

header(class='header')
  div(class='header-container')
    span(class='header-logo') evoo
    ul(class='header-auth-btns')
      li 
        a(href='./login' class='header-auth-btn btn--inline') Login
      li
        a(href='./registration' class='header-auth-btn btn--green') Join free

