

header(class='header')
  div(class='header-container')
    a(href="/" class="logo-link")
      .logo-container
        i(class="far fa-calendar fa-logo")
        .logo-text-container
          span(class='header-logo') Evoo
          span.header-sublogo Fun events
    ul(class='header-auth-btns')
        li 
          a(href='./login' class='header-auth-btn btn--inline') Login
        li
          a(href='./registration' class='header-auth-btn btn--green') Join free

