form {
    display: flex;
    flex-direction: column;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;

}

.header {
    background-color: #343a40;
}

.register-container {
    width: 30%;
    margin: 0 auto;
}


/*Header*/

.header-container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    height: 65px;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 28px;
    font-weight: bold;
    color: #fff;
}
.fa-logo {
    font-size: 28px;
    color: #fff;
    margin-right: 10px;
}
.header-auth-btns {
    display: flex;
    list-style: none;
    align-items: center;

}

.header-auth-btn {
    margin-left: 15px;
    font-size: 16px;
}

.btn--inline {
    color: #d8d8d8;
    text-decoration: none;

}
.btn--inline:hover {
    color: #fff;
    cursor: pointer;
}

.btn--green {
    display: block;
    background-color: #3CB46E;
    color: #fff;
    font-size: 16px;
    line-height: 38px;
    width: 90px;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
}

.btn--green:hover {
    background-color: #37a866;
    cursor: pointer;
}



 /*login*/
 .login-container {
     display: flex;
        height: 100vh;
        justify-content: center;
    }
 .h3-title {
    font-size: 24px;
    font-weight: 700;
 }
 p {
     font-size: 12px;
 }
 .login-text {
     font-size: 15px;
     font-weight: normal;
     margin-bottom: 4rem;
 }

.form-container {
    width: 40rem;
    /* margin:0  auto; */
    text-align: center;
    margin-top: 8rem;

}
.form-container input:not(:last-child) {
    display: block;
    height: calc(2.25rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    margin-bottom: 35px;
}
.primary-color {
    color: #fff;
    background-color: #007bff;
}

.form-link {
    text-decoration: none;
    color: #999;
}
.login-google-btn {
    display: block;
    text-decoration: none;
    background-color: #e57373;
    color: #fff;
    border: 1px solid #e57373;
    padding: 10px;
    margin-bottom: 20px;
}
.login-form-footer {
    font-size: 15px;
}





#login-username, #login-password{
   
}
#login-submit-btn {

    width: 30%;
    margin: 10px auto;
    display: block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
}


.avatar-img {
    width: 40px;
    height: 40px;
}
.rounded {
    border-radius: 50%;
}
.header-username {
    color: #fff;
    align-self: center;
  padding: 15px;
}


.btn-outline-light {
    color: #f8f9fa;
    background-color: transparent;
    background-image: none;
    border: 1px solid #f8f9fa;
    text-decoration: none;

}

.btn {
    cursor: pointer;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
